extends layout

block content


    .row
        .col-sm-8
            .panel.panel-success-lt
                .panel-body.no-padding
                    .panel.panel-default.gradient-diag1
                        .panel-heading.panel-handle.panel-colorize
                            .panel-title
                                span.panel-title-edtitable(data-type='text')
                                    | Пачка домашнего печень в магазине "Пеките со Славой", цена лота 100 рублей
                        .panel-body-collapse.collapse.in
                            .panel-body#bets(ng-controller="BetsController")
                                .pull-left.text-danger(style="font-size: 20px;", ng-controller='timerCtrl'){{timer}}

                                #current-price.pull-right.text-danger(style="font-size: 20px;")
                                .pull-right(style="font-size: 20px;") Текущая цена:
                                br
                                br
                                small  всего у вас {{max_score}} очков
                                .row
                                    .col-sm-11(style='height: 300px;', data-color='success-lt')
                                        #chart_container
                                            #chart
                                    .col-sm-1
                                        #y_axis

                                h4
                                    | Ваши уровни



                                div

                                    form#formBet(ng-submit='sendBets()')
                                        .row.text-center
                                            .col-sm-4
                                                input.em-knob( slider type='text', model='bet1[0]', ng-model='bet1[0]', class='knob1',  data-color='#e33244')
                                            .col-sm-4
                                                input.em-knob( slider type='text',model='bet2[0]', ng-model='bet2[0]', class='knob2',   data-color='#fbb23e')
                                            .col-sm-4
                                                input.em-knob( slider type='text', model='bet3[0]', ng-model='bet3[0]',class='knob3', data-color='#1aae88')
                                        .row.text-center
                                            .col-sm-4
                                                div(counter value="bet1[1]" score= "max_score" min="0" max="15" step="1"  )
                                            .col-sm-4
                                                div(counter value="bet2[1]" score= "max_score" min="0" max="15" step="1" )
                                            .col-sm-4
                                                div(counter value="bet3[1]" score= "max_score" min="0" max="15" step="1" )
                                        input#submitBet.hide(style="", type="submit")





                    .panel-line-top.text-center.panel-body-collapse
        .col-sm-4
            .panel.panel-default.gradient-diag1
                .panel-heading.panel-handle.panel-colorize
                    .panel-title
                        span.panel-title-edtitable(data-type='text')
                            | Лидеры
                .panel-body-collapse.collapse.in
                    .panel-body
                        .table-responsive
                            table.table
                                thead
                                    tr.row-mid
                                        th Имя
                                        th Коэфф
                                tbody(ng-controller='ListLeadersCtrl')
                                    tr.row-mid(ng-repeat="user in leaders")
                                        td {{user[1]}}
                                        td {{user[0]}}

            .panel.panel-default.gradient-diag1
                .panel-heading.panel-handle.panel-colorize
                    .panel-title
                        span.panel-title-edtitable(data-type='text')
                            | Подсказки
                .panel-body-collapse.collapse.in
                    .panel-body
                        | 1. Кружочки это ставки на цену (выбирайте цену за которую хотите купить товар)
                        br
                        | 2. Кнопки  + -  позволяют поставить ваши очки на цену (чем больше очков - тем сильнее ваша ставка)
                        br
                        | 3. Если ставка меньше текущей цены товара (цена постоянно меняется - смотрите на график), то ставка НЕ ИГРАЕТ
                        br
                        | 4. Побеждает игрок который ближе всего к цене товара СВЕРХУ и у которого ставка выше ( близость к цене важнее чем сила ставки!)

                        //.table-responsive
                        //    table.table
                        //        thead
                        //            tr.row-mid
                        //                th Имя
                        //                th
                        //        tbody(ng-controller='ListUsersCtrl')
                        //            tr.row-mid(ng-repeat="user in users")
                        //                td {{user}}
                        //                td


    //
       Needed by BSE.Mq.screen() helper in utils.js
    #mq
    //
       Needed by EmVars helper in _emerald.js
    #emvars
    script(src='script.js')