doctype html
html(ng-app="smApp")
  head
    meta(name="viewport" content="width=device-width, user-scalable=no")
    title= title
    link(rel='stylesheet', href='/stylesheets/application.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    //link(rel='stylesheet', href='http://yastatic.net/bootstrap/3.1.1/css/bootstrap.min.css')


    script(src="/socket.io/socket.io.js")

    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-route/angular-route.js')
    script(src='/bower_components/angular-socket-io/socket.js')
    //script(src="http://yastatic.net/jquery/2.1.1/jquery.min.js")
    //script(src="http://yastatic.net/jquery-ui/1.11.1/jquery-ui.min.js")
    script(src="/javascripts/d3.v3.js")
    script(src="/javascripts/rickshaw.js")

    script(src="/javascripts/application.js")
    script(src='/javascripts/app.js')
    script(src='/javascripts/services.js')
    script(src='/javascripts/controllers.js')
    script(src='/javascripts/filters.js')
    script(src='/javascripts/directives.js')
    //script(src='/javascripts/bootstrap.js')
  body.high.emerald-default.htmls.htmls_widgets
    block content