

.input-group(style="width: 100px; margin-left: auto;margin-right: auto;")
    span.input-group-btn( ng-click="minus()")
         button.btn.btn-default -
    input.form-control.text-center(type="text"  ng-model="value" style="width: 45px;" ng-change="changed()" disabled)
    span.input-group-btn( ng-click="plus()")
        button.btn.btn-default +
